*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
}

.toggle{
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #fff;
    transform: rotate(-45deg);
    border-bottom-left-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.toggle::before,
.toggle::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-color: #fff;
}

.toggle::before{
    top: -50%;
    left: 0;
    
}
.toggle::after{
    right: -50%;
    top: 0;

}
.toggle, 
.toggle::before, 
.toggle::after {
    transition: 0.6s;
    transition-delay: 0.3s;
}

.toggle.forward, 
.toggle.forward::before, 
.toggle.forward::after {
    background-color: #eb608c;
}
.circle{
    position: absolute;
    left: 7px;
    top: -28px;
    height: 55px;
    width: 55px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.toggle.forward .circle{
    animation: front 0.6s linear forwards;
}

@keyframes front {
    0%{
        left: 7px;
        top: -28px;
    }
    50%{
        top: -1px;
        left: 17px;
    }

    100%{
        left: 42px;
        top: 7px;
    }

}

.toggle.reverse .circle{
    animation: back 0.6s linear forwards;
}

@keyframes back {
    0%{
        left: 42px;
        top: 7px;
    }
    50%{
        top: -1px;
        left: 17px;
    }

    100%{
        left: 7px;
        top: -28px;
    }

}